@model CategoriaDto
@{
    Layout = null;
    ViewData["Title"] = "Modificar Categoría";
}
@Html.Hidden("Modificando", true)
<script src="~/js/validaciones.min.js" asp-append-version="true"></script>
@*<script src="~/js/eventosCrearModificar.js" asp-append-version="true"></script>*@
<form asp-controller="Categoria" asp-action="Modificar"
      data-ajax="true"
      data-ajax-method="POST">
    @await Html.PartialAsync("_CrearModificar", Model)

</form>