@model RolDto
@{
    Layout = null;
    ViewData["Title"] = "Nuevo Rol";
}

<script src="~/lib/jquery.validate.min.js"></script>
<script src="~/lib/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/messages_es_AR.min.js"></script>
<form asp-controller="Rol" asp-action="Crear"
      data-ajax="true"
      data-ajax-method="POST">
    @await Html.PartialAsync("_CrearModificar", Model)

</form>