@model EventoDto
@{
    var Categorias = (IEnumerable<SelectListItem>)ViewBag.Categorias;
    var SubCategorias = (IEnumerable<SelectListItem>)ViewBag.SubCategorias;
}
@Html.Hidden("getSubcategorias", @Url.Action("ListarSubcategorias", "Evento"))
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="Descripcion"></label>
    <div class="col-sm-11">
        <input asp-for="Descripcion" class="form-control">
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="CategoriaDescripcion"></label>
    <div class="col-sm-6">
        <select asp-for="CategoriaId" asp-items="Categorias" class="form-control" id="categoria-dropdown">
            <option disabled selected>Elegir...</option>
        </select>
        <span asp-validation-for="CategoriaId" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" asp-for="SubCategoriaDescripcion"></label>
    <div class="col-sm-6">
        <select asp-for="SubCategoriaId" asp-items=SubCategorias class="form-control" id="subcategoria-dropdown">
            <option disabled selected>Elegir...</option>
        </select>
        <span asp-validation-for="SubCategoriaId" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="Fecha"></label>
    <div class="col-sm-6">
        @Html.TextBox("Fecha", Model.Fecha, new { @class = "date form-control" })
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>
</div>


