@model EventoDto
@{
    Layout = null;
    ViewData["Title"] = "Nuevo Evento";
}
@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@
<link rel="stylesheet" href="~/lib/datetimepicker/build/jquery.datetimepicker.min.css" />
<script src="~/js/validaciones.min.js" asp-append-version="true"></script>
<script src="~/lib/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script src="~/js/eventosCrearModificar.js" asp-append-version="true"></script>
<form asp-controller="Evento" asp-action="Crear"
      data-ajax="true"
      data-ajax-method="POST">
    @await Html.PartialAsync("_CrearModificar", Model)

</form>