@{
    ViewData["Title"] = "Eventos";
}

<div id="main" class="">
    @*data-ajax-loading="#divloading"
        data-ajax-success="Success"
        data-ajax-failure="Failure"*@
    <form asp-controller="Evento" asp-action="Listar"
          data-ajax="true"
          data-ajax-method="GET"
          data-ajax-mode="replace"
          data-ajax-update="#gridTabla">
        @Html.Label("Filtro") <input type="text" id="filtro" name="filtro" class="input-large" />
        <button class="btn btn-primary" type="submit">Filtrar</button>
    </form>

    <div id="gridTabla">
        @await Html.PartialAsync("Listar", ViewData)
    </div>

</div>