@model HomeSet.Domain.Dto.EventoDto
@{
    ViewData["Title"] = "Eventos";
}

<div id="main" class="">

    <form asp-controller="Evento" asp-action="Alta" method="post">
        Descripcion: <input asp-for="Descripcion" /><br />
        <button class="btn btn-primary" type="submit">Guardar</button>

    </form>

    @*<table class="table table-sm table-responsive-sm table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>*@

</div>