<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeSet</title>
    @*<script src="~/lib/globalize/dist/globalize.js"></script>
        <script src="~/lib/globalize/dist/globalize/date.js"></script>
        <script src="~/lib/globalize/dist/globalize/message.js"></script>
        <script src="~/lib/globalize/dist/globalize/number.js"></script>*@
    <script type="text/javascript">
        var ajaxEditSuccess = 'ajax-edit-success';
                //Globalize.culture("es");
                //var btn = $.fn.button.noConflict(); // reverts $.fn.button to jqueryui btn
                //$.fn.btn = btn; // assigns bootstrap button functionality to $.fn.btn
    </script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <script src="~/lib/jquery.min.js"></script>
        <script src="~/lib/popper.min.js"></script>
        <script src="~/lib/bootstrap.min.js"></script>
        <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" >

        </script>
        <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @*@RenderSection("Styles", required: false)*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <div class="navbar-header">
                    @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">HomeSet</a>
                </div>
                @*@if (User.Identity.IsAuthenticated)
    {*@
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Evento" asp-action="Index">Eventos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">ABM</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Evento" asp-action="Index">Eventos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Categoria" asp-action="Index">Categorías</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="SubCategoria" asp-action="Index">Sub-Categorías</a>
                                    </li>
                                </ul>
                            </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Administración</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Rol" asp-action="Index">Roles</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Cuenta" asp-action="Logout">Log out</a>
                </li>
            </ul>
            </div>
@*}
else
{
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Cuenta" asp-action="Register">Register</a>
                    </li>
                </ul>
            </div>

}*@
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <div id="alertaError" data-mensaje="Ocurrió un error" class="alert alert-danger alert-dismissible collapse alerta-box centro-pantalla" role="alert">
            @*<a class="close" data-dismiss="alert" aria-label="Close">×</a>*@
            <button id="alertCloseButton" type="button" class="close" aria-label="Close">×</button>
            <span></span>
            @*<span></span>*@
        </div>
        <div id="alertaInfo" class="alert alert-info alert-dismissible collapse alerta-box centro-pantalla" role="alert">
            <span>Operación Exitosa</span>
        </div>
        <div id="alertaExitosa" class="alert alert-success alert-dismissible collapse alerta-box centro-pantalla" role="alert">
            <span>Operación Exitosa</span>
        </div>
    </div>
    @RenderSection("Scripts", required: false)

    <div class="modal fade" id="modal-editar" tabindex="-1" role="dialog" aria-labelledby="Crear/Modificar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-editar-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-editar-body">
                </div>
                <div class="modal-footer">
                    <button id="modal-editar-cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="modal-editar-guardar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="Eliminar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-eliminar-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-eliminar-body" align="center">
                </div>
                <div class="modal-footer">
                    <button id="modal-eliminar-cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="modal-eliminar-confirmar" type="button" class="btn btn-danger" data-href="">Confirmar</button>
                    @Html.AntiForgeryToken()
                </div>
            </div>
        </div>
    </div>

</body>
</html>
