html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#main,#gridTabla {
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.row {
    margin-left: 0;
}

.alerta-box {
    width: 15%;
    height: auto;
    text-align: center;
    font-weight: bold;
    z-index: 10000;
}