@model UsuarioDto
@{ 
    var Roles = (IEnumerable<SelectListItem>)ViewBag.CargarRoles;
}

@Html.HiddenFor(model => model.Id)
@Html.Hidden("roles", "", new { id = "rolesFinales" })
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="Nombre"></label>
    <div class="col-sm-11">
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="Apellido"></label>
    <div class="col-sm-11">
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="Username"></label>
    <div class="col-sm-11">
        <input asp-for="Username" class="form-control" id="userInput" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" asp-for="Roles"></label>
    <div class="col-sm-6">
        <select asp-items=Roles class="form-control" id="rol">
            <option disabled selected>Elegir...</option>
        </select>
        <button class="btn btn-primary agregar" type="button" data-bind="click: addRol">Agregar</button>
        @*<span asp-validation-for="SubCategoriaId" class="text-danger"></span>*@
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: roles">
        <tr>
            <td data-bind="text: nombre" />
            <td><a href="#" data-bind="click: $root.removeRol"><i class="icon-trash"></i></a></td>
        </tr>
    </tbody>
</table>
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="Password"></label>
    <div class="col-sm-11">
        <input asp-for="Password" class="form-control" id="passwordInput" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label" asp-for="ConfirmPassword"></label>
    <div class="col-sm-11">
        <input asp-for="ConfirmPassword" class="form-control" data-rule-equalTo="#passwordInput" id="passwordConfirmInput" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
</div>
@*<input asp-for="SecurityStamp" type="hidden" />*@



