@model UsuarioDto
@{
    Layout = null;
    ViewData["Title"] = "Nuevo Usuario";
}

<script src="~/js/validaciones.min.js" asp-append-version="true"></script>
<script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/js/usuarioCrear.js" asp-append-version="true"></script>
<form asp-controller="Usuario" asp-action="Crear"
      data-ajax="true"
      data-ajax-method="POST">
    @await Html.PartialAsync("_CrearModificar", Model)

</form>