@model UsuarioDto
@{
    Layout = null;
    ViewData["Title"] = "Nuevo Usuario";
}

<script data-main="js/usuarioCrearModificar" src="~/lib/require.js"></script>
<script src="~/js/require-config.js" asp-append-version="true"></script>


<form asp-controller="Usuario" asp-action="Crear"
      data-ajax="true"
      data-ajax-method="POST">
    @await Html.PartialAsync("_CrearModificar", Model)

</form>