@model UsuarioDto
@{
    Layout = null;
    ViewData["Title"] = "Modificar Usuario";
}
@Html.Hidden("Modificando", true)
<script src="~/lib/jquery.validate.js"></script>
<script src="~/lib/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/messages_es_AR.min.js"></script>
<script src="~/js/usuarioCrearModificar.js" asp-append-version="true"></script>
<script src="~/lib/require.js"></script>
<script src="~/js/require-config.js" asp-append-version="true"></script>
<script>
    require(["js/rol"]);
</script>
<form asp-controller="Usuario" asp-action="Modificar"
      data-ajax="true"
      data-ajax-method="POST">
    @await Html.PartialAsync("_CrearModificar", Model)

</form>